.mobile {
  display: none;
}

.imgnaslov {
  position: relative;
  width: 100%;
  height: 100vh;
}
.imgnaslov img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.imgnaslov_content {
  position: absolute;
  top: 50.9vh;
  height: 58vh;
  z-index: 2;
  width: 100%;
}
.imgnaslov_content h1 {
  color: #FFFFFF;
  grid-column: span 6;
}

h5 {
  color: #FFFFFF;
  position: absolute;
  left: 56px;
  top: 56px;
  border-radius: 58px;
  padding: 8px 16px;
  background-color: #FC6536;
  z-index: 2;
}

.adrenalin {
  padding-top: 208px;
}
.adrenalin h2 {
  grid-column: span 12;
  color: #0F141E;
  z-index: 2;
}
.adrenalin .inner-title2 {
  position: absolute;
  width: 50%;
  z-index: 2;
  left: 56px;
  bottom: 32px;
}

.small-img {
  position: relative;
  grid-column: span 4;
  margin-top: 116px;
}
.small-img h5 {
  left: 32px;
  top: 32px;
}

.small-img-holder {
  padding-top: 114%;
  position: relative;
}
.small-img-holder picture {
  overflow: hidden;
  border-radius: 16px;
}
.small-img-holder picture img {
  transition: 1s;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.small-img:hover picture img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.small-img:hover .inner-title2 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 116px;
}
.button-div button {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  padding: 0px 104px;
  text-transform: uppercase;
}

.load-more-content {
  max-height: 0px;
  overflow: hidden;
  transition: 2s linear;
}

.load-more-content-active {
  max-height: 3000px;
}

.inner-title2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
  scroll-behavior: smooth;
}

.imgnaslov {
  z-index: -2;
  transform: translateZ(-3px) scale(4.1);
  position: sticky;
  transform-style: flat;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
}
.imgnaslov img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.imgnaslov .tint {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100vh;
}

.imgnaslov_content {
  transform-style: preserve-3d;
  z-index: -1;
  position: absolute;
  top: 50.9vh;
  height: 58vh;
  width: 100%;
}
.imgnaslov_content h1 {
  color: #FFFFFF;
  grid-column: span 6;
}
.imgnaslov_content div {
  transform: translateZ(-2px) scale(3);
}

.paralax {
  background-color: #FFFFFF;
  position: relative;
  transition: 0.5s;
}

@media only screen and (max-width: 750px) {
  .small-img {
    grid-column: span 6;
  }
}
@media only screen and (max-width: 650px) {
  .small-img {
    grid-column: span 12;
  }
  .small-img-holder {
    padding-top: 50%;
  }
  .small-img {
    margin-top: 40px;
  }
  .small-img h4 {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  h5 {
    left: 32px;
    top: 32px;
  }
  .small-img {
    margin-top: 32px;
  }
  .small-img h5 {
    left: 24px;
    top: 24px;
  }
  .small-img h4 {
    margin-top: 12px;
    margin-bottom: 4px;
  }
  .small-img-holder {
    padding-top: 78.28%;
  }
  .imgnaslov_content h1 {
    text-align: center;
  }
  .adrenalin {
    padding-top: 64px;
  }
}/*# sourceMappingURL=izlet.css.map */